<div class="row">
	<div ng-controller="KeysCtrl">
		<div class="row">
			<h2>Today you are at {{daily_keys}} keystroke of {{daily_target}}</h2>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="progress">
		  			<div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="{{daily_keys}}" aria-valuemin="0" aria-valuemax="{{daily_target}}"
		  				style="width: {{100 / (daily_target/daily_keys)}}%">
		    			<span class="sr-only">45% Complete</span>
		  			</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div ng-controller="MyCtrl1">
			<div graphs></div>
		</div>
	</div>
	<div class="col-md-6">
		<div speed></div>
	</div>
</div>

